In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
import statsmodels.api as sm
import matplotlib.pylab as plt
from sklearn.tree import DecisionTreeRegressor

os.chdir('/Users/matthewhartz/python_practice/projects/mktg_326/data')

In [28]:
df = pd.read_csv("test1.csv")

df1 = df.iloc[:,[0,1,2,3]]

In [ ]:
##Need to drop all nulls

In [29]:
df1.head()

,Timestamp,What gender do you identify with?,How old are you?,Check all social media that you use at least once a week.
0,7/20/2021 19:42:11,Female,21-22,"Instagram, TikTok, Snapchat, Facebook, YouTube"
1,7/30/2021 11:45:40,,21-22,"Facebook, Instagram, TikTok, YouTube, LinkedIn"
2,8/5/2021 15:52:55,Female,21-22,"Facebook, Instagram, TikTok, YouTube, LinkedIn"
3,8/5/2021 15:59:45,Female,21-22,"Facebook, Instagram, TikTok, YouTube, LinkedIn"
4,8/5/2021 16:58:17,Female,23-24,"Snapchat, YouTube"

In [37]:
##Convert columns to usable numerics
df1 = pd.get_dummies(df1, columns= ['What gender do you identify with?'])

df1.dtypes

Timestamp                                                    object
How old are you?                                             object
Check all social media that you use at least once a week.    object
What gender do you identify with?_                            uint8
What gender do you identify with?_Female                      uint8
What gender do you identify with?_Male                        uint8
What gender do you identify with?_Prefer not to say           uint8
dtype: object

In [42]:
social = df1.explode('Check all social media that you use at least once a week.')

social.head()

,Timestamp,How old are you?,Check all social media that you use at least once a week.,What gender do you identify with?_,What gender do you identify with?_Female,What gender do you identify with?_Male,What gender do you identify with?_Prefer not to say
0,7/20/2021 19:42:11,21-22,"Instagram, TikTok, Snapchat, Facebook, YouTube",0,1,0,0
1,7/30/2021 11:45:40,21-22,"Facebook, Instagram, TikTok, YouTube, LinkedIn",1,0,0,0
2,8/5/2021 15:52:55,21-22,"Facebook, Instagram, TikTok, YouTube, LinkedIn",0,1,0,0
3,8/5/2021 15:59:45,21-22,"Facebook, Instagram, TikTok, YouTube, LinkedIn",0,1,0,0
4,8/5/2021 16:58:17,23-24,"Snapchat, YouTube",0,1,0,0